@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: contain;
  background-color: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
  }
}